h2 {
    margin: 40px;
    display: none;
}

body {
    font-family: sans-serif;
}

table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;


}
table thead th,
table tfoot th {
    color: #777;
    background: rgba(0,0,0,.1);
}
table caption {
    padding:.5em;
}
table th,
table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
}
/* Zebra Table Style */
tbody tr:nth-of-type(odd) {
    background: rgba(0,0,0,.05);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none;
font-weight: bold;
}


a:active { text-decoration: none; }